* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:rgb(175, 240, 240)
}

/* Header */
.header {
  width: 100%;
  height: 10vh;
  background: rgb(68, 133, 158);
  padding-left: 10px;
}

/* Body container*/
.container {
  width: 100%;
  height: 100%;
  background-color:rgb(217, 133, 228);
  /* margin: 5px 20px 5px 20px; */
  /*padding: 2% 5% 2% 5%; */
  display: flex;
}

/* Section */
.section {
  width: 80%;
  background: rgb(56, 54, 54);
  margin: 10px 20px 10px 20px;
}
/* inside of Section */


/* Content */
.part {
  width: 90%;
  height: 80vh;
  border: solid 5px blueviolet;
  margin: 10px;
  background-color: yellowgreen;
  display: flex;
  align-items: center;
  flex-direction: column;
}


/* Video */
.video {
  margin: 10px;
  width: 80%;
  height: 50%;
  background: yellow;
}

.iframe {
  width: 100%;
  height: 100%;
}


/* inside of Quiz */
.quiz {
  width: 80%;
  height: 40%;
  background: white;
  margin: 10px 20px 10px 20px;
  
}

.quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
}

.open-quiz {
  background: green;
  height: 50vh;
}

/* quiz Text */
.quiz-text {
  font-size: 1.5rem;
  margin-left: 5%;
  font-weight: bold;
}

/* Button */
.button {
  font-size: 1.5rem;
  margin-right: 3%;
}


/* Aside*/ 
.aside {
  width: 25%;
  height: 40vh;
  position: sticky;
  top: 0; 
  left: -10;
  background-color: rgb(101, 179, 101);
  text-align: left;
  vertical-align: baseline;
}
