* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(175, 240, 240);
}

/* Header */
.header {
  width: 100%;
  height: 10vh;
  background: rgb(68, 133, 158);
  padding-left: 10px;
}

/* Body container*/
.container {
  width: 100%;
  height: 100%;
  background-color: rgb(127, 120, 128);
  /* margin: 5px 20px 5px 20px; */
  /*padding: 2% 5% 2% 5%; */
  display: flex;
}

/* Section */
.section {
  width: 80%;
  background: rgb(56, 54, 54);
  margin: 10px 20px 10px 20px;
}
/* inside of Section */

/* Content */
.part {
  width: 90%;
  height: 80vh;
  border: solid 5px blueviolet;
  margin: 10px;
  background-color: rgb(190, 190, 190);
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Video */
.video {
  margin: 10px;
  width: 80%;
  height: 50%;
  background: yellow;
}

.iframe {
  width: 100%;
  height: 100%;
}

.part-heading {
  margin-top: 5px;
  /* background-color:rgb(193, 221, 221); */
}

/* inside of Quiz */
.quiz {
  width: 80%;
  height: 50%;
  background: white;
  margin: 10px 20px 10px 20px;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

.box {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 20%);
}

.box.correct {
  --hue: var(--hue-correct);
}

.box.wrong {
  --hue: var(--hue-wrong);
}

.container2 {
  width: 90%;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 2px 5px;
  color: white;
  outline: none;
}

.btn-grid {
  display: flex;
  justify-content: space-around;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn,
.next-btn {
  margin-top: 5px;
  font-weight: bold;
  padding: 2px 5px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.questions {
  margin-bottom: 20px;
}

/* Button */
.button {
  font-size: 1.5rem;
  margin-right: 3%;
}

/* Aside*/
.aside {
  width: 25%;
  height: 40vh;
  position: sticky;
  top: 0;
  left: -10;
  background-color: rgb(101, 179, 101);
  text-align: left;
  vertical-align: baseline;
  padding: 5px;
}

ul {
  list-style-type: none;
}

h3 {
  margin-top: 5px;
}
